@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    max-width: 450px;
  }
}
body {
  margin: 0px;
}
img {
  margin: 0px;
  padding: 15px;
}
.topbar {
  background: white;
  height: 50px;
  box-shadow: 2px 2px 2px 2px #0002;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.topbar > img {
  width: 50px;
}
.input {
  border-style: none;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
  border-right: none;
}
.button {
  border: 1px solid #0007;
  border-radius: 0px 5px 5px 0px;
  background: white;
  box-sizing: border-box;
  width: 80px;
  height: 26px;
  padding: 0.5px;
  margin-left: 0px;
  border-left: none;
}
.signin,
.signup {
  background-color: white;
  margin-left: 90%;
  padding: 5px;
  color: rgb(66, 135, 253);
  border-radius: 5px;
  border: 1px solid rgb(66, 135, 253);
}
ul {
  padding: 25px;
}

li {
  list-style-type: none;
  padding: 25px;
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
  margin-top: 39%;
  background-color: rgba(0, 0, 0, 0.09);
  height: 70px;
  text-align: center;
}
